@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;700&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Merriweather Sans', sans-serif;
}

.main_header{
	width: 100%;
	height: 100vh;
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('bg.jpg');
	background-size: cover;
}

.navbar{
	position: fixed;
	width: 100%;
	padding: 15px;
	display: flex;
	z-index: 1000;
	transition: 0.1s;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


 /***************on scroll event *****************/

.sticky{
	position: fixed;
	width: 100%;
	padding: 10px;
	display: flex;
	z-index: 1000;
	background-color: #F4623A;
}

 /***************on scroll event *****************/


.navbar .logo{
	font-weight: 700;
	font-size: 25px;
	color: #fff;
	margin-left: 100px;
}

.burger{
	display: none;
}

.fa{
	margin: auto 0;
	color:#fff;
	font-size: 22px;
	margin:  0 20px 0 0;
}

.menu_btn{
	text-align: right;
	margin: auto 100px auto 0;
}

.menu_btn ul{
	list-style-type: none;
}

.menu_btn li{
	display: inline;
	padding: 6px 20px;
	color: white;
	font-size: 15px;
	cursor: pointer;
}

.menu_btn li:hover{
	background-color: black;
	transition: 0.5s ease;
	border: none;
	border: none;
}

.body_part{
	width: 100%;
	height: auto;
}

.body_part .about_me{
	text-align: center;
	color: #fff;
	padding-top: 150px;
}

.body_part .about_me h1{
	font-size: 50px;
}

.body_part .about_me span{
	color: #F4623A
}

.hr{
	width: 100px;
	height: 3px;
	background-color: #F4623A;
	margin: 30px auto 30px auto;
}

.about_des{
	width: 60%;
	height: auto;
	margin: 20px auto;
	text-align: center;
	color: white;
	font-weight: lighter;
	font-size: 20px;
}

.download_btn{
	width: 100%;
	height: auto;
	margin-top: 50px;
	display: flex;
	justify-content: center;
}

.download_btn button{
	padding: 10px 30px;
	margin: 0 20px;
	border: none;
	font-weight: bold;
	cursor: pointer;
}

.download_btn .cv_btn{
	background-color: #F4623A;
	color: white;
}

.download_btn .cv_btn:hover{
	background-color: #cf5331;
	transition: 0.5s ease;
}

.download_btn .learn_more:hover{
	transition: 0.5s ease;
}

/**********************page 1 resposive code ********************/

@media only screen and (max-width: 960px){

.main_header{
	height: auto;
	padding: 0 0 40px 0;
}

.sticky{
	position: fixed;
	width: 100%;
	padding: 15px;
	display: flex;
	z-index: 1000;
	background-color: #1b1b1b;
}

.navbar .logo{
	font-weight: 700;
	font-size: 15px;
	color: #fff;
	margin-left: 20px;
}

	.burger{
	display: block;
	cursor: pointer;
}

.menu_btn{
	position: absolute;
	left: -100%;
	top: 50px;
	width: 100%;
	height: 100vh;
	background-color: #1b1b1b;
	transition: all 0.3s;
}

.menu_btn2{
	left: 0%;
}

.menu_btn li{
	
	display: block;
	text-align: center;
	padding: 6px 20px;
	margin: 60px 0 0 0;
	color: white;
	font-size: 15px;
	cursor: pointer;
}

.menu_btn li:hover{
	background: none;
	color: #F4623A;
	transition: 0.5s ease;
}

.body_part .about_me{
	padding-top: 100px;
}

.body_part .about_me p{
	font-size: 12px;
	margin-top: 50px;
}
.body_part .about_me h1{
	font-size: 30px;
	font-weight: 600;
	line-height:40px;
}

.hr{
	margin: 25px auto;
	height: 2px;
}

.about_des{
	width: 90%;
	font-weight: lighter;
	font-size: 15px;
	letter-spacing: 1px;
	line-height: 20px;
}

.download_btn{
	width: 100%;
	height: auto;
	margin-top: 30px;
	display: flex;
	justify-content: center;
}

.download_btn button{
	font-size: 15px;
	padding: 20px 40px;
	margin: 30px 20px;
	border: none;
	font-weight: bold;
	cursor: pointer;
	border-radius: 25px;
}

.learn_more{
	display: none;
}

}



/**********************page 1 resposive code end ********************/



/******************************** page 2 ***********************/

.page2{
	width: 100%;
	background-color: #F4623A;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	padding: 0 20px;
}

.page2 h1{
	color: #fff;
	margin: 100px 0 10px 0;
}

.page2 .hr{
	width: 80px;
	height: 3px;
	background-color: #fff;
	margin: 25px auto;
}

.page2 p{
	color: #f7f7f7;
	width: 50%;
}

.page2 button{
	font-size: 15px;
	padding: 20px 40px;
	margin: 30px 20px;
	border: none;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	border-radius: 30px;
	transition: 0.3s ease;
	margin-bottom: 120px;
}

/******************page 2 responsive code start ***********/


.page2 p{
	width: 90%;
}


/******************page 2 responsive code end ***********/

/*************page 3 start ************/

.page3{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}


.page3 h1{
	margin-top:120px;
}

.page3 .hr{
	margin-bottom: 40px;
}

.service_section{
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 40px 20px 100px 20px;
}

.service_card{
	width: 220px;
	height: 200px;
	margin: 0 20px;
}

.service_card .fa{
	width: 50px;
	height: 50px;
	color: #F4623A;
	font-size: 50px;
	margin: 20px 0;
}
.service_card h2{
	font-weight: 400;
}

.service_card p{
	font-weight: 300;
	color: #6c757d;
	margin: 10px 0;
}


/************page 3 responsive code start ************/
@media only screen and (max-width: 960px){

.service_section{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 40px 20px 100px 20px;
}
}
.service_card{
	width: 300px;
	height: 250px;
	margin: 0 20px;
}


/***********page 3 responsive code end***************/

/*************page 3 start end ************/

/*************page 4 start  start ************/

.page4{
	width: 100%;
	background-color: #212529;
}

.page4 .project_sec{
	width: 100%;
	column-count: 3;
	column-gap: 0;
}

/*.page4 .project_img :hover{
	width: 100%;
	height: 250px;
	background-color: red;
	z-index: 5;
}*/

.page4 .project_img img{
	width: 100%;
	height: 250px;
	background-size: cover;
}


.page4_cvdownload{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.page4 h1{
	color: #fff;
	font-weight: 400;
	margin:80px 0 30px 0;
}

.page4 .cv_btn{
	padding: 25px 55px;
	border: none;
	font-weight: bold;
	cursor: pointer;
	margin-bottom: 100px;
	border-radius: 40px; 
	transition: 0.3s ease;
}


/*************page 4 start  end ************/

/*********page 4 responsive code start************/
@media only screen and (max-width: 960px){
.page4 .project_sec{
	width: 100%;
	column-count: 1;
	column-gap: 0;
}
}
/*page 4 responsive code end********************/


/**********page 5 code start *********/
.page5{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

.page5 h1{
	margin-top: 100px;
	font-weight: 400;
}

.page5 .hr{
	margin-bottom: 20px;
}

.page5 h2{
	font-size: 15px;
	font-weight: 300; 
	color: #6c757d;
}

.page5 .form{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 30px 0;
}

.page5 .form input{
	width: 500px;
	padding: 15px 20px;
	border: 1px solid #6c757d
	border-radius: 5px;
	margin: 10px 0;
	color: black;
}

.page5 .form textarea{
	width: 500px;
	padding: 15px 20px;
}

.page5 .form button{
	width: 500px;
	padding: 20px 25px;
	margin: 25px 0;
	color: #fff;
	background-color: #F7987E;
	border: none;
	border-radius: 30px;
	cursor: pointer;
}

.page5 .contact_us {
	margin-bottom: 50px;
}

.page5 .contact_us .fa{
	width: 40px;
	height: 40px;
	font-size: 30px;
	color: #f7987e;
}
/**********page 5 code end************/

/*********page 5 responiv code start***********/

.page5 .form input{
	width: 300px;
	padding: 10px 20px;
}

.page5 .form textarea{
	width: 300px;
	padding: 10px 20px;
}

.page5 .form button{
	width: 300px;
	padding: 15px 25px;
}

/*********page 5 responiv code end***********/


/********footer************/

.footer{
	width: 100%;
	background-color: #F8F9FA;
}

.footer h4{
	color: #6c757d;
	font-weight: 300;
	text-align: center;
	padding: 30px 0;
}
